<% for(var key in locals.album) { 
    var picture = locals.album[key] %>
    <div class="pictureItem">
        <a href="<%- picture.full %>" class="download">download</a>
        <a href="<%- picture.large %>" rel="lightbox[album]">
            <div class="pictureBox" style="background-image: url('<%- picture.thumb %>') "> 
            </div>
        </a>
    </div>
<% } %>
