<script> 
    var pictures = []

    <% for(var name in locals.albums) {
            var pictures = albums[name] %>
            pictures.push(<%-JSON.stringify(pictures)%>)
    <% } %>
</script>
    
<div class="tiles template">
    <a href="#" class="albumTile template">
        <div class="pictureItem">
            <div class="pictureBox"></div>
            <div class="pictureCaption">
                <div class="title"></div>
                <div class="subtitle"></div>
            </div>
        </div>
    </a>
</div>
		

<script type="text/javascript" src="/js/album-tile.js"></script>
<script> loadAlbums(pictures) </script>

