<% for(var name in locals.albums) {
	var pictures = albums[name] %>

	<% for(var index in pictures) {
		var picture = pictures[index] %>

                <a href="/album/<%- name %>">
                    <div class="pictureBox" style=" background-image: url('<%- picture.thumb %>');"> </div>
                </a>
		
	<% break } %>
<% } %>
