<% for(var name in locals.albums) {
	var pictures = albums[name] %>

	<% for(var index in pictures) {
		var picture = pictures[index] %>

                <a href="/album/<%- name %>">
                    <div class="pictureItem">
                        <div class="pictureBox" style=" background-image: url('<%- picture.thumb %>');"> </div>
                        <div class="pictureCaption">
                            <div class="title"><%- picture.title %></div>
                            <div class="subtitle"><%- picture.subtitle %></div>
                        </div>
                    </div>
                </a>
		
	<% break } %>
<% } %>

