body {
    background: black; 
    font-family: 'Lato', sans-serif;
}

a { 
    text-decoration:none;
}

.pictureItem {
    float: left; 
    height: 232px; 
    margin: 2px;
    width: 350px; 
}

.download {
    background: rgba(0, 0, 0, .4);
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    position: absolute;

    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
}

.pictureBox {
    background: #121212;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 232px; 
    width: 350px; 

    -webkit-transition: background-image .25s ease-in-out;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .pictureBox {
        -webkit-background-size:350px 232px;
    }
}


.titleBox {
    background: #121212;
    float: left; 
    height: 232px; 
    margin: 2px;
    width: 700px; 
}

.titleBox .title {
    color: #facc2e;
    font-size: 36pt;
    padding-left: 20px;
}

.titleBox .subtitle {
    color: #ababab;
    font-size: 22pt;
    padding-left: 20px;
}

.pictureItem:hover .download {
    opacity: 1;
}

.pictureCaption {
    background: rgba(0, 0, 0, .4);
    position: relative;
    top: -80px;
    height: 80px;
    padding-left: 10px;
}

.pictureCaption .title {
    color: #facc2e;
    font-size: 20pt;
}

.pictureCaption .subtitle {
    color: #ababab;
    font-size: 12pt;
}

.player {
    clear: both;
}

.moviemenu {

}

.moviemenu li {
    border: dotted 1px white;
    color: white;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.showmenu {
    border: dotted 1px white;
    clear: both;
    color: white;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}

.downloadmovie {
    border: dotted 1px white;
    clear: both;
    color: white;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
}
